<%= form_for @movie do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :summary %>
    <%= form.text_area :summary, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :year_released %>
    <%= form.text_field :year_released, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating, class: "form-control" %>
  </div>
  <%= form.button 'Create Movie', class: "btn btn-success" %>
<% end %>